{% extends 'layout.html' %}
{% from 'pagination_component.html' import render_pagination %}

{%block title%}Статті на сайті{%endblock%}

{%block content %}
<div class="text-center p-5">
<h2 class="display-1 p-5">Статті На сайті</h2>

<div class="row row-cols-4">
	{%for article in articles %}
	<div class="col p-2">
		<div class="p-5 border rounded shadow text-center">
			<h2>{{article.title}}</h2>
			<p>{{article.description}}</p>
			<a href="{{url_for('articles_app.view_article',article_id=article.id)}}"><button class="btn btn-info">Читати більше</button></a>
		</div>
	</div>
	{%endfor%}
</div>
{{render_pagination(articles,'articles_app.view_articles')}}
</div>

{%endblock%}